<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue-LifeCycle</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
<div id="app" v-if="display">
    <p>{{msg}}</p>
    <ol>
        <li v-for="app in apps">
            {{app.value}}
        </li>
    </ol>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            msg: 'hello world',
            display: true,
            apps: [
                {value: "苹果"},
                {value: "梨子"},
                {value: "香蕉"}
            ]
        }
    })
</script>
</body>
</html>